
<div class="card">
    <div class="card-header">
        <h4>Manages</h4>
    </div>
    <div class="card-body">
        <div class="row">
        <div class="col-6 col-lg-4">
            <div class="card">
            <div class="card-body p-3 clearfix">
                <i class="fa fa-building bg-info p-3 font-2xl mr-3 float-left"></i>
                <div class="h5 text-info mb-0 mt-2">เพิ่มตึก/อาคาร</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs">Add Build</div>
            </div>
            <div class="card-footer px-3 py-2">
                <a class="font-weight-bold font-xs btn-block text-muted" [routerLink]="['/manage/build']">คลิ๊ก<i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-4">
            <div class="card">
            <div class="card-body p-3 clearfix">
                <i class="fa fa-archive bg-info p-3 font-2xl mr-3 float-left"></i>
                <div class="h5 text-info mb-0 mt-2">เพิ่มอุปกรณ์</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs">Add Device</div>
            </div>
            <div class="card-footer px-3 py-2">
                <a class="font-weight-bold font-xs btn-block text-muted" [routerLink]="['/manage/device']">คลิ๊ก<i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-4">
            <div class="card">
            <div class="card-body p-3 clearfix">
                <i class="fa fa-bars bg-info p-3 font-2xl mr-3 float-left"></i>
                <div class="h5 text-info mb-0 mt-2">ตั้งค่ามาตรฐาน</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs">Seting standrad</div>
            </div>
            <div class="card-footer px-3 py-2">
                <a class="font-weight-bold font-xs btn-block text-muted" [routerLink]="['/manage/stands']">คลิ๊ก<i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>